<!DOCTYPE html>
<html>
  <head>
    <title>RUNTEQ BOARD APP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert alert-notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-alert"><%= flash[:alert] %></div>
    <% end %>

    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>